[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
ansible = "==2.8.5"
molecule = { extras=['vagrant'], version="==2.22" }
docker = "==3.7.2"
python-vagrant = "==0.5.15"

[requires]
python_version = "2.7"

[scripts]
test = "molecule test"
check = "molecule --debug check"
test-local = "molecule test -s local"
check-local = "molecule --debug check -s local"
